.crop {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.crop img {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: auto;
  width: 100%;
}
